p{font-family:century;
font-size:20px;}
h1{font-family:algerian;
	padding-top: 20px;}
#main-content{padding:50px;
			background-color:beige;
			margin:100px;
			border-style:solid;
			border-color:black;
			border-radius:20px;}
a{text-decoration:none;
	padding:20px;
	color:black;}


